[phases.setup]
cmds = [
    "python -m pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[phases.install]
cmds = [
    "pip install -r requirements.txt"
]

[start]
cmd = "python app.py"